<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Apna MZP</title>
    <meta name="google" content="notranslate">
    <meta name="theme-color" content="#FF891B">
    <meta name="keywords" content="ApnaMZP,Food Delivery,Mirzapur,up63,UP">
    <meta name="description" content="yes , it is finally get your favourite food at your doorstep. Order now for amazing food and tasty food in Mirzapur">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="./images/main_icon.png" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="responsive.css">
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    
    <nav id="navbar">
        <h2><a href="#" id="nav-heading"><img src="./images/main_icon.png" /> Apna MZP</a></h2>
        <ul id="menu-routes">
            <li><a href="/">Home</a></li>
            <li><a href="#about">About Us</a></li>
            <li><a href="#menu">Menu</a></li>
            <li><a href="#contact">Contact Us</a></li>
        </ul>
        <h5 id="number">+91 9565810009</h5>
    </nav>    

    <section id="main-heading">
        <div class="container" id="main_content">
            <div class="owl-carousel owl-theme" id="banner">
                <img src="./images/banner_image.png" id="banner_img" alt="up63cafe banner image"> 
                <img src="./images/6d366638-8125-447d-8320-f863384d5b9e.jpg" id="banner_img" alt="up63cafe banner image"> 
                <img src="./images/d8b33745-0782-474e-bee8-315f04fa3b92.jpg" id="banner_img" alt="up63cafe banner image"> 
                <img src="./images/f0374f64-4f33-47dc-8657-3a54afee4dd5.jpg" id="banner_img" alt="up63cafe banner image"> 
            </div>
            <div id="banner-content">
                <div id="divider"></div>
                <div id="content-text">
                    <h1 id="heading">WELCOME TO YOUR</h1>
                    <h1 id="fancy-heading">Apna MZP</h1>
                    <p>Hey Mirzapurians , Yes, You Heard It Right <br> Your Favorute Resutants are Now here at your service <br>Thanks For Your Love and support till now 
                    and <br> hope you will provide the same love and support <br>
                    To Our new app which is available on play store <br> download now 
                    and more things are <br> comming soon ;)</p>
                    <button id="about-button">
                        About Us
                    </button>
                </div>
            </div>
            <div id="banner-content">
                <div id="divider" style="margin-top: 24px;"></div>
                <div id="content-text">
                    <h1 id="heading">Get Amazing Content</h1>
                    <h1 id="fancy-heading">At Your Door Step</h1>
                    <p>Order Through our app right now and  get your <br> favourite food
                        from your Fav Resutants at your door step <br>
                        with the following benefits
                        <br><br>
                        => Easy To Use <br>
                        => Prices As Mention On Menu Card <br>
                        => Fast Delivery <br>
                    </p>
                    <button id="about-button">
                        Exlpore Menu
                    </button>
                </div>
            </div>  
            <br><br>          
        </div>
    </section>

    <section id="about">
        <h1>OUR STORY</h1>
        <div class="container" id="main_content">
            <img src="./images/about_us.jpg" alt="up63cafe story image">
            <div id="about-text" style="text-transform: capitalize;">
                <h1>About US</h1>
                <br />
                <p>ApnaMZP is a Food Delivery App in city mirzapur serving shakes,chinese cuisine,snacks and juices it was started in 2021 , july and is successfully providing it's services we don't claim to be best  because we want you to do so By trying our yummy dishes </p>
                <br />
                <p>We Are Glad to inform what we started online delivery service throung our own app ApnaMZP which is available on playstore</p>
                <br>
                <p>Hey Mirzapurians , Yes, You Heard It Right
                    Your Favorute Service is Now here at your service
                    Thanks For Your Love and support till now and
                    hope you will provide the same love and support
                    To Our new app which is available on play store
                    download now and more things are
                    comming soon ;)</p>
                    <br>
                <p>
                    Order Through our app right now and get your
                    favourite food from our cafe at your door step
                    with the following benefits
                    <br>
                    => Easy To Use <br>
                    => Prices As Mention On Menu Card <br>
                    => Fast Delivery   <br>                 
                </p>   
            </div>
        </div>
    </section>

    <section id="menu">
        <br />
        <h1>OUR TOP Resutants</h1>
        <div class="container">
            <div id="card-group">
                <div class="card">
                    <img src="https://apna-mzp-assests.s3.ap-south-1.amazonaws.com/1661345720002_croppedImg.jpg" alt="up63cafe chilly potato">
                    <h2>Up63 Cafe</h2>
                </div>
                <div class="card">
                    <img src="https://apna-mzp-assests.s3.ap-south-1.amazonaws.com/1661863734801_croppedImg.jpg" alt="Up63 Cafe roll">
                    <h2>Hippies</h2>
                </div>  
                <div class="card">
                    <img src="https://apna-mzp-assests.s3.ap-south-1.amazonaws.com/1662022108534_croppedImg.jpg" alt="up63cafe soya ">
                    <h2>Jannat</h2>
                </div> 
                <div class="card">
                    <img src="https://apna-mzp-assests.s3.ap-south-1.amazonaws.com/1662029004668_croppedImg.jpg" alt="up63cafe soyachap">
                    <h2>Champaran</h2>
                </div>   
                <div class="card">
                    <img src="https://apna-mzp-assests.s3.ap-south-1.amazonaws.com/1662721956073_croppedImg.jpg" alt="up63cafe soyachap">
                    <h2>Javed Biryani</h2>
                </div>
                <div class="card">
                    <img src="https://apna-mzp-assests.s3.ap-south-1.amazonaws.com/1662877834926_croppedImg.jpg" alt="up63cafe soyachap">
                    <h2>Sohan Kachori Vale</h2>
                </div>        
            </div>
        </div>
    </section>

    <footer id="contact">
        <div class="container">
            <div id="overview" class="footer-item">
                <h3>OVERVIEW</h3>
                <h4><a href="/">Home</a></h4>
                <h4><a href="/#about">About Us</a></h4>
                <h4><a href="/#menu">Menu</a></h4>
                <h4><a href="/#contact">Contact Us</a></h4>
            </div>            
            <div id="connect" class="footer-item">
                <h3>CONNECT</h3>
                <h4>+91 9565820009</h4>
                <h4>+91 9565810009 ( For Technical )</h4>
                <h4 style="font-size: 13px;">apnamzp63@gmail.com</h4>
                <h4><a href="https://www.instagram.com/apnamzp63/">Instagram</a></h4>
                <h4><a href="https://www.facebook.com/profile.php?id=100085538875075">Facebook</a></h4>
            </div>
            <div id="legal" class="footer-item">
                <h3>LEGAL</h3>
                <h4><a href="./privacy-policy.html">Privacy Policy</a></h4>
                <h4><a href="./refund-and-cancellation.html">Refund & Cancellation</a></h4>
                <h4><a href="./terms-and-condition.html">Terms & Condition</a></h4>
            </div>    
            <div id="download" class="footer-item">
                <a href="https://apnamzp.in/dowload/v1/apnamzp"><img id="google" src="./images/download.png" alt="up63cafe download from playstore"></a>
            </div>                    
        </div>
    </footer>

    <script>
        $(document).ready(function(){
  $('.owl-carousel').owlCarousel({
    loop: true,
    autoplay:true,
    autoplayTimeout:3000,
    autoplayHoverPause:true,
    margin:10,
    items:1
  });
});
    </script>
</body>
</html>